body{
  background: linear-gradient(60deg, #0c0e73, #3e9114);
  font-family: "Arial", sans-serif;
}
section{
  text-align: center;
}
.game-name{
  color: rgb(14, 15, 15);
  font-family: "Permanent Marker", cursive;
}
.game-restart{
  background-color: rgb(26, 212, 119);
  font-family: "Permanent Marker", cursive;    
}
.game-container{
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 306px;
  margin: 60px auto;
  background-color: rgb(111, 36, 89);
}
.cell{
  width: 100px;
  height: 100px;
  border: 2px solid greenyellow;
  cursor: pointer;
  font-size: 60px;
}